.banner-section{
    width: 100%;
}
.banner_img img{
    width: 100%;
    background-size: cover;
    position: relative;
}
.banner-heading h1{
    position: absolute;
    top: 40%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    font-size: 100px;
    color:#fff ;
    font-weight: bold;
}